
.section-text{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
  
.background-animation{
  display: flex;
  flex-direction: column;
  width: 200vw;
  margin-top: -50rem;

  .fix-poss{
    transform: rotate(-10deg) !important;
  }
}

div{
  display: flex;
  animation-name: displacement;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  h1{
    z-index: -1;
    color: rgb(44, 80, 80);
    margin-right: 1rem;
    font-size: 1.5rem;
    margin-bottom: 0;
    transition: 2s;
  }

  h1:hover{
    transition: 2s;
    color: aqua;
    text-shadow: rgb(62, 224, 253) 1px 0 2rem;
  }
}
  
.animation-inverse{
  animation-name: displacement2;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
  
  @keyframes displacement {
    0% {
      transform: translateX(-20%);
    }
    50% {
      transform: translateX(0%);}
    100%{
      transform: translateX(-20%);
    }
  }
  
  @keyframes displacement2 {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-20%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  
  @media only screen and (max-width: 700px){
    .background-animation{
      width: 600vw;
    }
  }