<div class="nft">
  <div class='main'>
    <img class='tokenImage' src="https://images.unsplash.com/photo-1621075160523-b936ad96132a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="NFT" />
    <h2>{{data.title}}</h2>
    <p class='description'>{{data.description}}</p>
    <div class='tokenInfo'>
      <div *ngIf="data?.label" class="label">
        <p>{{data?.label}}</p>
      </div>
      <div class="duration">
        <p>◷ {{data.age}}</p>
      </div>
    </div>
  </div>
</div>