
  <div class="body-form">
    <section class="flex flex-column">
      <h1>Añadir Entrada</h1>
    </section>
    <section class="flex flex-column w-100 align-items-center justify-content-center">
      <app-input
        [form]="form"
        [controlName]="'title'"
        [label]="'Titulo'"
      />

      <app-input
        [form]="form"
        [controlName]="'label'"
        [label]="'Etiqueta'"
      />

      <app-input
        [form]="form"
        [controlName]="'age'"
        [label]="'Año'"
        [type]="'number'"
      />

      <app-textarea
        [form]="form"
        [controlName]="'description'"
        [label]="'Descripción'"
      />
      

      <button
        [disabled]="form.invalid"
        mat-flat-button 
        class="button-create"
        (click)="send()">Crear</button>

    </section>
  </div>
