<app-background class="fixed"/>

<section class="navbar">
  <section>

    <app-input
      [form]="form"
      [controlName]="'searchField'"
      [label]="'buscar'"
      [type]="'text'"
    />

    <button
      class="buton-search"
      aria-label="Buscar"
      (click)="search()"
    >
      <mat-icon>search</mat-icon>
    </button>
  </section>

  <button 
    class="add-new-card"
    mat-flat-button
    (click)="openDialog()"
  >Agregar Nueva Entrada</button>
</section>

<section class="z-index grid-test">
  <app-card *ngFor="let card of sourceToShow" [data]="card"/>
</section>

<footer>
  <button 
    class="button-export"
    mat-flat-button
    (click)="exportData()"
  >export Data</button>

</footer>
