.navbar {
  background: linear-gradient(217deg, #000000, #3b5965);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 9s ease infinite;
  -moz-animation: AnimationName 9s ease infinite;
  animation: AnimationName 9s ease infinite;

  padding: 1rem;
  padding-left: 2rem;
  height: 62px;
  display: flex;
  z-index: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  section{
    display: flex;
    
  }
}

footer{
  padding-left: 2rem;
  height: 62px;
  display: flex;
  z-index: 0;

  justify-content: space-around;

  background: linear-gradient(217deg, #000000, #3b5965);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 9s ease infinite;
  -moz-animation: AnimationName 9s ease infinite;
  animation: AnimationName 9s ease infinite;

  .button-export{
    margin-top: 0.8rem;
  }
}

.max-width {
  width: 100rem !important;
  display: flex;
}

.buton-search{
  margin-left: 0.1rem;
  height: 3.50rem;
  width: 2.5rem;
  border-radius: 0px 10px 10px 0px !important;
  background-color: #69f0ae;
  border-color: #484848;
  border-width: 0px;
  //filter: drop-shadow(0px 5px 10px #424242b9);

  &:hover{
    background-color: #58c892;
  }
}

.buton-search:hover{
  border-radius: 0px 10px 10px 0px !important;
}

.add-new-card{
  height: 3.4rem;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 7%}
  50%{background: position 0% 100%}
  100%{background-position:0% 7%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 7%}
  50%{background-position:0% 100%}
  100%{background-position:0% 7%}
}
@keyframes AnimationName {
  0%{background-position:0% 7%}
  50%{background-position:0% 100%}
  100%{background-position:0% 7%}
}

.app-background{
  z-index: -10;
}

.z-index{
  z-index: 0;
}

app-background{
  z-index: -1;
  position: absolute;
}

.grid-test{
  width: 95vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: space-around;
  grid-gap: 20px;
}

.fixed{
  position: fixed;
}