<app-background class="fixed"/>

<section class="navbar">
  <app-input
    [form]="form"
    [controlName]="'searchField'"
    [label]="'buscar'"
    [type]="'text'"
  />

  <button
    class="buton-search"
    mat-mini-fab
    aria-label="Example icon button with a menu icon"
    (click)="search()"
  >
    <mat-icon>search</mat-icon>
  </button>
</section>

<app-form (addNewCard)="addNewCard($event)"/>

<section class="z-index grid-test">
  <app-card *ngFor="let card of sourceToShow" [data]="card"/>
</section>
